In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Bangalore.csv')
#Reading a csv file

In [24]:
df.head() #display head

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,30000000,3340,JP Nagar Phase 1,4,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,7888000,1045,Dasarahalli on Tumkur Road,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,4866000,1179,Kannur on Thanisandra Main Road,2,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
3,8358000,1675,Doddanekundi,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,6845000,1670,Kengeri,3,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

In [23]:
df.tail(4)

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
6203,8716000,1179,Kasavanahalli,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6204,7373000,1143,Kasavanahalli,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6205,4985000,1680,Kasavanahalli,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6206,10900000,1162,Kasavanahalli,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [5]:
print(df.shape)

(6207, 40)

In [6]:
type(df) #type either dataframe or series

pandas.core.frame.DataFrame

In [7]:
df.describe()

,Price,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
count,6.207000e+03,6207.000000,6207.000000,6207.000000,6207.000000,6207.000000,6207.000000,6207.000000,6207.000000,6207.000000,...,6207.000000,6207.000000,6207.000000,6207.000000,6207.000000,6207.000000,6207.000000,6207.000000,6207.000000,6207.000000
mean,1.058510e+07,1526.094248,2.556952,0.078782,6.208797,6.461576,6.436121,6.382471,6.396649,6.373933,...,6.438537,6.211052,6.311100,6.210569,6.181569,6.210569,6.210569,6.210569,6.171097,6.210569
std,1.410943e+07,764.845609,0.694300,0.269420,4.126883,3.752421,3.792567,3.875271,3.853661,3.888204,...,3.788782,4.123761,3.981513,4.124430,4.164294,4.124430,4.124430,4.124430,4.178546,4.124430
min,2.000000e+06,415.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000e+06,1110.000000,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.368000e+06,1340.000000,3.000000,0.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
75%,1.070000e+07,1662.500000,3.000000,0.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
max,3.000000e+08,9900.000000,7.000000,1.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [8]:
newdf=pd.DataFrame(np.random.rand(200,5), index=np.arange(200))
newdf.head()  #created new dataframe with random numbers with 200 rows and 5 columns

          0         1         2         3         4
0  0.231508  0.373988  0.498773  0.089911  0.070673
1  0.552724  0.226302  0.305295  0.572759  0.195692
2  0.515861  0.705357  0.024243  0.280532  0.571589
3  0.753217  0.716494  0.652631  0.914924  0.485784
4  0.509718  0.499148  0.734446  0.199497  0.348541

In [9]:
df.index #display rows

RangeIndex(start=0, stop=6207, step=1)

In [10]:
df.columns # display column with names and datatype

Index(['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator'],
      dtype='object')

In [11]:
df #displays dataframe

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,30000000,3340,JP Nagar Phase 1,4,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,7888000,1045,Dasarahalli on Tumkur Road,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,4866000,1179,Kannur on Thanisandra Main Road,2,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
3,8358000,1675,Doddanekundi,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,6845000,1670,Kengeri,3,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6202,5364000,590,Chandapura,1,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6203,8716000,1179,Kasavanahalli,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6204,7373000,1143,Kasavanahalli,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6205,4985000,1680,Kasavanahalli,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6206,10900000,1162,Kasavanahalli,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [12]:
df.T   #converting rows to columns and vice versa

,0,1,2,3,4,5,6,7,8,9,...,6197,6198,6199,6200,6201,6202,6203,6204,6205,6206
Price,30000000,7888000,4866000,8358000,6845000,6797000,20000000,7105000,8405000,3506000,...,5305000,5143000,7559999,5229000,8545000,5364000,8716000,7373000,4985000,10900000
Area,3340,1045,1179,1675,1670,1220,2502,1438,1405,660,...,1500,2145,2064,1115,1010,590,1179,1143,1680,1162
Location,JP Nagar Phase 1,Dasarahalli on Tumkur Road,Kannur on Thanisandra Main Road,Doddanekundi,Kengeri,Horamavu,Thanisandra,Ramamurthy Nagar,Whitefield Hope Farm Junction,Electronic City Phase 1,...,Budigere,Bagaluru Near Yelahanka,Sarjapur Road,HAL,Bommasandra,Chandapura,Kasavanahalli,Kasavanahalli,Kasavanahalli,Kasavanahalli
No. of Bedrooms,4,2,2,3,3,2,4,3,3,1,...,3,3,3,2,2,1,2,2,3,2
Resale,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MaintenanceStaff,1,0,0,0,1,0,0,0,0,1,...,9,9,9,9,9,9,9,9,9,9
Gymnasium,1,1,1,0,1,1,1,1,1,1,...,9,9,9,9,9,9,9,9,9,9
SwimmingPool,1,1,1,0,1,1,1,0,1,1,...,9,9,9,9,9,9,9,9,9,9
LandscapedGardens,1,1,1,0,1,1,1,0,1,1,...,9,9,9,9,9,9,9,9,9,9
JoggingTrack,1,1,1,0,1,1,1,1,1,1,...,9,9,9,9,9,9,9,9,9,9
RainWaterHarvesting,1,1,1,0,1,1,0,1,1,1,...,9,9,9,9,9,9,9,9,9,9
IndoorGames,1,1,0,0,1,1,0,0,0,1,...,9,9,9,9,9,9,9,9,9,9
ShoppingMall,0,0,0,0,0,0,0,0,0,1,...,9,9,9,9,9,9,9,9,9,9
Intercom,1,0,1,1,1,1,1,1,1,1,...,9,9,9,9,9,9,9,9,9,9
SportsFacility,1,1,0,0,1,1,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
ATM,0,0,0,0,0,0,0,0,0,1,...,9,9,9,9,9,9,9,9,9,9
ClubHouse,1,1,0,0,1,1,1,0,0,1,...,9,9,9,9,9,9,9,9,9,9
School,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
24X7Security,1,1,1,0,1,1,1,1,1,1,...,9,9,9,9,9,9,9,9,9,9
PowerBackup,1,1,0,1,1,1,1,1,1,1,...,9,9,9,9,9,9,9,9,9,9
CarParking,0,1,0,0,1,1,1,1,0,1,...,9,9,9,9,9,9,9,9,9,9
StaffQuarter,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
Cafeteria,0,0,0,0,0,0,1,0,1,0,...,9,9,9,9,9,9,9,9,9,9
MultipurposeRoom,0,1,0,0,1,1,0,1,1,1,...,9,9,9,9,9,9,9,9,9,9
Hospital,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
WashingMachine,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
Gasconnection,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
AC,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
Wifi,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
Children'splayarea,1,1,1,0,1,1,1,1,0,1,...,9,9,9,9,9,9,9,9,9,9
LiftAvailable,1,1,1,1,1,1,1,1,0,0,...,9,9,9,9,9,9,9,9,9,9
BED,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
VaastuCompliant,0,1,0,0,0,0,1,1,1,0,...,9,9,9,9,9,9,9,9,9,9
Microwave,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
GolfCourse,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
TV,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
DiningTable,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
Sofa,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
Wardrobe,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
Refrigerator,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9

In [13]:
df.sort_index(axis=1, ascending=False) #axis=0 for rows and 1 for columns, ascending is true by default

,Wifi,WashingMachine,Wardrobe,VaastuCompliant,TV,SwimmingPool,StaffQuarter,SportsFacility,Sofa,ShoppingMall,...,DiningTable,ClubHouse,Children'splayarea,CarParking,Cafeteria,BED,Area,ATM,AC,24X7Security
0,0,0,0,0,0,1,0,1,0,0,...,0,1,1,0,0,0,3340,0,0,1
1,0,0,0,1,0,1,0,1,0,0,...,0,1,1,1,0,0,1045,0,0,1
2,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1179,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1675,0,0,0
4,0,0,0,0,0,1,0,1,0,0,...,0,1,1,1,0,0,1670,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6202,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,590,9,9,9
6203,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,1179,9,9,9
6204,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,1143,9,9,9
6205,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,1680,9,9,9
6206,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,1162,9,9,9

In [14]:
df.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,30000000,3340,JP Nagar Phase 1,4,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,7888000,1045,Dasarahalli on Tumkur Road,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,4866000,1179,Kannur on Thanisandra Main Road,2,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
3,8358000,1675,Doddanekundi,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,6845000,1670,Kengeri,3,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

In [15]:
#df.loc[0,'Price']=3000000000  #replace the value of given row and column

In [16]:
df.drop(0,axis=0)  #drops the axis=0 which is for row and 1 for row One

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
1,7888000,1045,Dasarahalli on Tumkur Road,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,4866000,1179,Kannur on Thanisandra Main Road,2,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
3,8358000,1675,Doddanekundi,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,6845000,1670,Kengeri,3,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
5,6797000,1220,Horamavu,2,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6202,5364000,590,Chandapura,1,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6203,8716000,1179,Kasavanahalli,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6204,7373000,1143,Kasavanahalli,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6205,4985000,1680,Kasavanahalli,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
6206,10900000,1162,Kasavanahalli,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [17]:
df.head(3)

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,30000000,3340,JP Nagar Phase 1,4,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,7888000,1045,Dasarahalli on Tumkur Road,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,4866000,1179,Kannur on Thanisandra Main Road,2,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

In [18]:
df.loc[:,['Price','Location']] #syntax to display df.loc[[1,2]['price','Area']] will show 2X2

         Price                         Location
0     30000000                 JP Nagar Phase 1
1      7888000       Dasarahalli on Tumkur Road
2      4866000  Kannur on Thanisandra Main Road
3      8358000                     Doddanekundi
4      6845000                          Kengeri
...        ...                              ...
6202   5364000                       Chandapura
6203   8716000                    Kasavanahalli
6204   7373000                    Kasavanahalli
6205   4985000                    Kasavanahalli
6206  10900000                    Kasavanahalli

[6207 rows x 2 columns]

In [19]:
df['Price']   #display series

0       30000000
1        7888000
2        4866000
3        8358000
4        6845000
          ...
6202     5364000
6203     8716000
6204     7373000
6205     4985000
6206    10900000
Name: Price, Length: 6207, dtype: int64

In [20]:
# df.loc[:,['Price']]=3000000000

In [21]:
df.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,30000000,3340,JP Nagar Phase 1,4,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,7888000,1045,Dasarahalli on Tumkur Road,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,4866000,1179,Kannur on Thanisandra Main Road,2,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
3,8358000,1675,Doddanekundi,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,6845000,1670,Kengeri,3,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0